body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f010177;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
header{
    background-color: #333;
    text-align: center;
    padding: 20px;
}
h1{
    font-size: 24px;
}
.container{
    max-width: 600px;
    color: white;
    background-color: black;
    margin: 20px auto;
    padding: 20px;
    margin-top: 8%;
    border: 1px solid #ddd;
    border-radius: 5px;
     
}