@import url(Ballet/Ballet-Regular-VariableFont_opsz.ttf);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ballet', sans-serif;
}
body{
    font-size: 50%;
    overflow: hidden;
}
.container{
height: 100%;
width: 250px;
position: absolute;
background: #161616;
z-index: 1;
transition: 0.5s ease;
transform: translatex(-250px);
}
.container .head{
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    background: linear-gradient(30deg,red,rgb(175, 166, 166));
}
ol{
    width: 100%;
    list-style: none;
}
ol li{
    display: block;
    width: 100%;
}
ol li a{
    color: #fbfdce;
    padding: 15px 10px;
    text-decoration: none;
    display: block;
    letter-spacing: 1px;
    font-size: 20px;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
    text-transform: capitalize;
    
}
ol li a i{
    width: 70px;
    font-size: 25px;
    text-align: center;
    padding-left: 30px;
    cursor: pointer;
}
ol li:hover a{
    background: bisque;
    color: purple;
    letter-spacing: 5px;    
}
input{
    visibility: hidden;
    display: none;
}
span{
    position: absolute;
    right: -40px;
    top: 30px;
    font-size: 25px;
    border-radius: 3px;
    color: white;
    padding: 3px 8px;
    cursor: pointer;
    background: #000;
}
#bars{
    background: red;
}
#check:checked ~ .container{
    transform: translateX(0);
}
#check:checked ~ .container #bars{
    display: none;
}
section{ 
    position: relative;
    min-height: 600px;
    background: url(Image/gig.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
    filter: brightness(100%); 
   text-align: center;
}
#check:checked ~ section{
    transform: scale(1.2);
    filter: brightness(50%);
}
section{
    color: white;
    text-align: center;
    font-size: 200%;
    letter-spacing: 5px;
    padding: 23px;
     
}
.Image{
    position: absolute;
    border: none;
    border-radius: 20%;
    width: 100px;
    top: 0%;
    left: 12%;
    padding: 20px;
}
p{
    font-size: 10%;
    color: rgb(119, 196, 196);
    font-family: 'Ballet', sans-serif;
    letter-spacing: 4px;
    font-weight: bold;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 50%;
    color: rgb(212, 14, 14);
    padding: 20px;
    text-align: center;
   }


 
